{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "eqeqeq": 1,
        "curly": 1,
        "no-eq-null": 1,
        "no-lone-blocks": 1,
        "quotes": [1, "single"],
        "no-console": 0,
        "semi": 1,
        "no-unused-vars": 1,
        "react/jsx-uses-vars": 2,
        "no-empty": 0
    },
    "plugins": ["react"]
}