$fontSize: 14px;
$tableHeight: 410px;
.search{
	overflow: auto;
	padding: 0 0 15px;
	border-bottom: 1px solid #eee;
}
.panel{
	position: relative;
    margin-top: 10px;
}
.loading{
	display: none;
	z-index: 9;
	position: absolute;
	width: 100%;
	height: $tableHeight;
	line-height: $tableHeight;
	text-align: center;
	top: 0;
	left: 0;
	background-color: #fff;
}
.sysInfo {
	display: none;
	position: absolute;
	width: 100%;
	height: $tableHeight;
	line-height: $tableHeight;
	text-align: center;
	top: 0;
	left: 0;
	background-color: #fff;
	color: gray;
}
.listPanel{
	.tableWrap{
		height: $tableHeight;
		overflow: auto;
		margin-bottom: 10px;
	}
	.table thead > tr{
		border-top: none;
	}

	tbody .thumbnail>img{
		width: 100px;
		height: 60px;
	}
	td.title .titleWrap {
		width: 250px;
	    display: block;
	    overflow-x: hidden;
	    text-overflow: ellipsis;
	}
	th.duration, td.duration {
		width: 120px;
	}
	th.status, td.status {
		width: 120px;
	}
	th.ptime, td.ptime {
		width: 220px;
	}

	#pageControl{
		text-align: center;

		.button{
			margin: 0 10px;
		}
	}

}

.infoPanel {
	padding: 10px 20px;
	position: relative;

	section{
		margin: 15px 0;
	}

	.btn-wrap{
		position: absolute;
		top: 0;
		right: 0;
		.button{
			margin-right: 10px;
		}
	}
	.section_1 {
		overflow: auto;

		.thumbnail{
			width: 30%;
		}

		>div {
			float: left;
		}
	}
	.thumbnail{
		>img{
			max-height: 125px;
			max-width: 200px;
			min-width: 125px;
			margin-right: 50px;
			padding: 2px;
			border: 1px solid #ccc;
		}
	}
	.btnGroup{
		overflow: auto;
		>.button{
			float: left;
			margin-right: 8px;
		}
	}
	dt{
		font-weight: bold;
	}
	dt, dd {
		display: inline-block;
		font-size: $fontSize;
		color: #666;
		line-height: 1.7em;
	}
	.tabs-panel{
		width: 100%;
		height: 110px;
		overflow: auto;
		img{
			display: inline-block;
			width: 15.985%;
			max-height: 100px;
			box-sizing: border-box;
			margin: 3px;
			padding: 2px;
			border: 1px solid #ccc;
			box-sizing: border-box;
			overflow: auto;
		}
	}
}